<%= simple_form_for @timetable do |f| %>
<% if @timetable.errors.any? %>
   <ul>
      <% @timetable.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
      <% end %>
   </ul>
<% end %>
<%= f.input :name, :label => 'Timetable Name: ' %>
<%#= f.input :start_date, :as => :datetime, :label => "Start Date: " %>
<%= f.input :rule_type, :collection => [:daily, :weekly, :monthly, :yearly] %>
<%= f.input :interval, :as => :integer %>
<%= f.input :day_of_month, :as => :integer %>
<%= f.input :day, :collection => [:sunday, :monday, :tuesday, :wednesday, :thursday, :friday, :saturday] %>
<%= f.input :month_of_year, :collection => [:january, :february, :march, :april, :may, :june, :july, :august, :september, :october, :november, :december] %>
<br></br>
<%= f.submit "Save" %>
<%= f.submit "Cancel" %>
<% end %>