<%= form_for @timetable do |f| %>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.fields_for :timetable_schedules do |builder| %>
			<%= render :partial => "timetable_schedule_fields", :locals => {:f => builder} %>
		<% end %>
	</div>

	<br />
	<%= link_to_add_fields "Add Timetable Schedule", f, :timetable_schedules %>
	
	<br />
	<br />

	
	<%= f.submit "Save" %>
<% end %>