<%= simple_form_for @timetable do |f| %>
<% if @timetable.errors.any? %>
   <ul>
      <% @timetable.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
      <% end %>
   </ul>
<% end %>
<%= f.input :name, :label => 'Timetable Name: ' %>
<%#= f.input :start_date, :as => :datetime, :label => "Start Date: " %>
<div class = "fields">
	<%= link_to_add_fields "Add Rule", f %>
</div>
<br></br>

<%= f.submit "Save" %>
<%= f.submit "Cancel" %>
<% end %>