<fieldset>
	<% partial = escape_javascript(render :partial => 'timetables/rules/rule_day', :locals => {:f => f }) %>
	<%= link_to_function "Day", "add_rule(\"#{partial}\", this)", :class => "rule" %>

	<% partial = escape_javascript(render :partial => 'timetables/rules/rule_day_of_week', :locals => {:f => f }) %>
	<%= link_to_function "Day of week", "add_rule(\"#{partial}\", this)", :class => "rule" %>

	<% partial = escape_javascript(render :partial => 'timetables/rules/rule_day_of_month', :locals => {:f => f }) %>
	<%= link_to_function "Day of month", "add_rule(\"#{partial}\", this)", :class => "rule" %>

	<% partial = escape_javascript(render :partial => 'timetables/rules/rule_day_of_year', :locals => {:f => f }) %>
	<%= link_to_function "Day of year", "add_rule(\"#{partial}\", this)", :class => "rule" %>

	<% partial = escape_javascript(render :partial => 'timetables/rules/rule_month_of_year', :locals => {:f => f }) %>
	<%= link_to_function "Month of year", "add_rule(\"#{partial}\", this)", :class => "rule" %>

	<div class="rules">
	</div>
	
	
	<br />
	<br />
	<%= link_to "remove rule", '#', :class => "remove_fields" %>
</fieldset>