<fieldset>
	<div class="field">
		<%= f.label :temp_rule_start_time %>
		<%= f.time_select :temp_rule_start_time %>
	</div>

	<div class="field">
		<%= f.label :temp_rule_end_time %>
		<%= f.time_select :temp_rule_end_time %>
	</div>

	<%= link_to "-", '#', :class => "remove_fields" %>
</fieldset>
