<fieldset>
	<div class="field">
		<%= f.label :start_time %>
		<%= f.time_select :start_time %>
	</div>

	<div class="field">
		<%= f.label :end_time %>
		<%= f.time_select :end_time %>
	</div>

	<%= link_to "-", '#', :class => "remove_fields" %>
</fieldset>
